[submodule "data/cub_semantic"]
	path = data/cub_semantic
	url = https://github.com/theRealSuperMario/cub_semantic
[submodule "baselines/unsupervised-disentangling"]
	path = baselines/unsupervised-disentangling
	url = git@github.com:theRealSuperMario/unsupervised-disentangling.git
