[submodule "data/cub_semantic"]
	path = data/cub_semantic
	url = https://github.com/theRealSuperMario/cub_semantic
[submodule "baselines/unsupervised-disentangling"]
	path = baselines/unsupervised-disentangling
	url = git@github.com:theRealSuperMario/unsupervised-disentangling.git
[submodule "baselines/lmdis-rep"]
	path = baselines/lmdis-rep
	url = git@github.com:theRealSuperMario/lmdis-rep.git
[submodule "baselines/imm"]
	path = baselines/imm
	url = https://github.com/theRealSuperMario/imm
